body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /* background-color: #1e1e1e; */
}

.header{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px; 
}

.bttns{
    display: flex;
    align-content: end;
    gap: 15px;
    margin: 58%;
}
button{
    background-color: transparent;
    border: transparent;
    font: bolder;
    font-weight: 700;
    font-size: large;
}

.login{
    background-color: rgb(246, 9, 9);
    border-radius: 20px;
    height: 38px;
    color:white;
}

.signup{
    background-color: rgb(222, 186, 186);
    border-radius: 20px;
    height: 38px;
}
p{
    color: red;
    
}